@font-face {
  font-family: "LobsterTwo";
  src: url("../fonts/LobsterTwo-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "LobsterTwo";
  src: url("../fonts/LobsterTwo-Bold.otf") format("opentype");
  font-weight: bold;
}

body {
  background-color: gray;
}

p {
  text-align: center;
  text-shadow: 3px 3px 3px gray;
}

p:first-child {
  font-family: "LobsterTwo", cursive;
  font-size: 2em;
  text-transform: uppercase;
  color: blue;
  letter-spacing: -2px;
}

p:first-child span span {
  color: green;
}

p:nth-child(2) {
  font-family: "LobsterTwo", cursive;
  font-weight: bold;
  font-size: 1.5em;
  color: red;
  word-spacing: 15px;
}

p:nth-child(2) span {
  text-transform: capitalize;
}

span[go] {
  text-decoration: line-through;
}
