* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #00dddd;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: #000;
    text-align: center;
    line-height: 24px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

#wrapper {
    background-color: #000000;
    color: #FFFFFF;
    border: 5px solid black;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto; /* Contains floated child elements */
    padding-top: 10px;
    padding-left: 10px;
}

div div {
    float: left;
    width: 380px;
    height: 380px;
    line-height: 380px; /* Centers text vertically */
    margin-right: 10px;
    margin-bottom: 10px;
}

#red { background-color: #900; }
#green { background-color: #090; }
#blue { background-color: #00F; }
#purple { background-color: #63C; }

#footer {
    clear: both;
    float: none;
    width: 770px;
    height: 50px;
    line-height: 50px; /* Centers text vertically */
    margin-bottom: 10px;
    background-color: #666;
}